@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int filmId = Convert.ToInt32(ViewData["Id"]);
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<p>
    <a asp-action="Index">Back to Movies</a>
</p>

<table>
    <tbody>
        <tr>
            <td class=" image_wrapper" valign="top" width="1">
                <div class="img-cont"></div>
            </td>
            <td class="post b-enent-post" valign="top">
                <h1 class="title" itemprop="name" id="title"></h1>

                <p class="year"></p>
                <p class="duration"></p>

                <p>
                    <label>Жанры:</label>
                    <table id="tableForGenres" width="100" cellspacing="0" border="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </p>
                <br />
                <label>Описание:</label>
                <p id="description"></p>
                <br />
                
                    <label>В ролях:</label>
                    <table id="tableForActors" width="100" cellspacing="0" border="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

            </td>
        </tr>

    </tbody>
</table>

<br />
<div class="form-group col-12">
    <h3>Сеансы</h3>
    <table id="seances" width="100" cellspacing="0" border="0" class="movie_info" cellpadding="0">
        <tbody>
            <tr>
                <th>Кинотеатр</th>
                <th>Свободные места</th>
                <th>Дата</th>
                <th>Время</th>
                <th>Цена</th>
                <th></th>
            </tr>
        </tbody>
    </table>
</div>


@if (UserHelper.IdUser != null)
{
    <div class="form-group col-6" name="commentForm">
        <label>Добавить комментарий:</label><br />
        <textarea class="form-control rounded-0" name="comment" id="commentID"></textarea><br />
        <button class="btn btn-info" id="subForm">Отправить</button>
    </div>
}
else
{
    <br />
    <h4>Войдите в систему, чтобы оставлять комментарии</h4>
}

    <div class="form-group col-6">
        <table id="tableForComments">
            <tbody></tbody>
        </table>
    </div>

<style>

    h1 {
        display: block;
        font-size: 2em;
        font-weight: bold;
    }

    .image_wrapper {
        width: 340px;
        vertical-align: top;
        padding-right: 20px;
    }

    table .b-event-post {
        overflow: visible;
        overflow-x: visible;
        overflow-y: visible;
    }

    .b-event-post {
        overflow: hidden;
        max-width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

    .post {
        max-width: 66%;
        font: 15px/25px Arial,Helvetica,sans-serif;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-variant-east-asian: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: 15px;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .title {
        padding-bottom: 10px;
        vertical-align: baseline;
    }

    .movie_info {
        width: 100%;
        border: 0;
        padding: 0;
        border-spacing: 0;
        border-collapse: collapse;
        margin: 20px 0;
        border-top: 1px solid #e6e6e6;
        color: #666;
        font: 13px/19px Arial,Helvetica,sans-serif;
    }

    .genre {
        min-width: 80px;
        padding: 0;
        border-right: 1px solid #e6e6e6;
    }

    .year, .duration {
        border-right: 1px solid #e6e6e6;
        padding: 10px 80px 0 0;
        min-width: 80px;
    }

    .date {
        min-width: 80px;
        padding: 10px 80px 0 0;
        padding-right: 30px;
    }
</style>


<script>
    $("#subForm").on("click", function (e) {
        e.preventDefault();
        location.reload();
        var comment = $("#commentID").val();
        var filmId = '@filmId';
        if (comment != 0) {
            $.ajax({
                method: "POST",
                url: "https://localhost:44319/api/ReviewsAPI",
                contentType: "application/json",
                data: JSON.stringify({ feedback: comment, idFilm: Number(filmId), Date: new Date() }),
                success: (data) => { },
                error: (data) => console.log(data)
            })
        }
        else {
            alert("Пожалуйста, введите комментарий.");
        }
    })

    //function validate_form() {
    //    valid = true;

    //    if (document.commentForm.comment.value == "") {
    //        alert("Пожалуйста, заполните поле 'Комментарий'.");
    //        valid = false;
    //    }

    //    return valid;
    //}

        // Получение одного фильма
    function GetFilm(id) {
        $.ajax({
            url: 'https://localhost:44319/api/filmsapi/' + id,
            type: 'GET',
            contentType: "application/json",
            success: function (film) {

                document.querySelector('.img-cont').innerHTML = '<img src="' + film.img + '" alt="" height=504 width=340/>';
                document.getElementById('title').innerHTML = film.name;
                document.querySelector('.year').innerHTML = "<label>Год: </label>" +" "+ film.year;
                document.querySelector('.duration').innerHTML = "<label>Длительность: </label>" + " " + film.duration + ' минут';

                var c = document.getElementById("description");
                c.innerHTML = film.description;

            }
        });
    }

    function GetGenres(id) {
        $.ajax({
            url: 'https://localhost:44319/api/GenresOfFilmAPI/' + id,
            type: 'GET',
            contentType: "application/json",
            success: function (genres) {
                var rows = "";
                genres.forEach(genres => {
                    rows += rowGenres(genres);
                })
                $('#tableForGenres').append(rows);
            }
        });
    }

    var rowGenres = function (item) {
        return item.genres.name + "<br>";
    }

    function GetComments(id) {
        $.ajax({
            url: 'https://localhost:44319/api/ReviewsAPI/' + id,
            type: 'GET',
            contentType: "application/json",
            success: function (comments) {
                var rows = "";
                comments.forEach(comments => {
                    rows += rowComment(comments);
                })
                $('#tableForComments').append(rows);
            }
        });
    }

    var rowComment = function (item) {

        date = new Date(item.date);
        year = date.getFullYear();
        month = date.getMonth() + 1;
        dt = date.getDate();

        if (dt < 10) {
            dt = '0' + dt;
        }
        if (month < 10) {
            month = '0' + month;
        }

        var arr = ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'ноября', 'декабря'];

        return "<label>" + item.users.userName + "</label>" + "<br>" + dt + ' ' + arr[month - 1] + ' ' + year + "<br>" + item.feedback + "<br><br>";
    }

    function GetActors(id) {
        $.ajax({
            url: 'https://localhost:44319/api/ActorsOfFilmAPI/Get/' + id,
            type: 'GET',
            contentType: "application/json",
            success: function (actors) {
                var rows = "";
                actors.forEach(actors => {
                    rows += rowActor(actors);
                })
                $('#tableForActors').append(rows);
            }
        });
    }

    var rowActor = function (item) {
        return `<a class='getActorLink' data-id='${item.actors.id}' href='https://localhost:44319/Home/FindFilms?id=${item.actors.id}'>` +  item.actors.name + " " + item.actors.surname + "</a><br>";
    }

    function GetSeances(id) {
        $.ajax({
            url: 'https://localhost:44319/api/Seances/' + id,
            type: 'GET',
            contentType: "application/json",
            success: function (seances) {
                var rows = "";
                seances.forEach(seances => {
                    rows += rowSeance(seances);
                })
                $('#seances').append(rows);
            }
        });
    }

    var rowSeance = function (item) {

        date = new Date(item.dateSeance);
        year = date.getFullYear();
        month = date.getMonth() + 1;
        dt = date.getDate();

        if (dt < 10) {
             dt = '0' + dt;
        }
        if (month < 10) {
            month = '0' + month;
        }

        var arr = ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'ноября', 'декабря'];

        return "<tr data-rowid='" + item.id + "'><td>" + item.cinemaName + "</td>" +
            "<td>" + item.countSeats + "</td> <td>" + dt + ' ' + arr[month - 1] + ' ' + year + "</td><td>" + item.timeSeance +
            "</td><td>" + item.price + "</td> <td> <a href=/Booking/Index/" + item.seanceId + " > " + "Забронировать" + "</a ></td></tr>";
    }

    GetSeances(@ViewData["Id"]);
    GetActors(@ViewData["Id"]);
    GetComments(@ViewData["Id"]);
    GetFilm(@ViewData["Id"]);
    GetGenres(@ViewData["Id"]);
</script>

