
@model IEnumerable<ActorsOfFilmVM>
@{
    ViewData["Title"] = "Find Films";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Постер
            </th>
            <th>
                Описание
            </th>
            <th>Год</th>
            <th>Длительность</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
        <tr>
            <td>
                @film.Films.Name
            </td>
            <td>
                <img src=@film.Films.Img height=208 width=140/>
            </td>
            <td>
                @film.Films.Description
            </td>
            <td>
                @film.Films.Year
            </td>
            <td>
                @film.Films.Duration
            </td>
        </tr>
        }
    </tbody>
</table>

@*<script>
    function GetFilms() {
        $.ajax({
            url: 'https://localhost:44319/api/filmsapi',
            type: 'GET',
            contentType: "application/json",
            success: function (films) {
                var rows = "";
                films.forEach(films => {
                    console.log(films);
                    rows += row(films);
                })
                $("table tbody").append(rows);
            }
        });
    }

        return "<tr data-rowid='" + item.id + "'><td><a href = Home/Details/" + item.id + " >" + item.name + "</a></td>" +
            "<td><img src= " + item.img + " height=208 width=140/></td> <td>" + item.description + "</td><td>" + item.year +
            "</td><td>" + item.duration + ' минут' + "</td></tr>";
    }


    GetFilms();
</script>*@